<!DOCTYPE html>

<html>

<head>
  <title>Chatsystem</title>
  <link rel="stylesheet" href="css/chatbox.css">
  <script type="text/javascript" src="js/chat-script.js"></script>
</head>

<body>

<div id="chatbox" class="container" style="display: block;">
<div class ="chat">
<div class="chat-header">
  <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; SEENA &ensp;&ensp; THANA&ensp;&ensp;&ensp; BOT &ensp;&ensp;&ensp;</p>
  </div>

<div class = "chat-box">
    <div id="textbox"></div>
</div>
<div class ='chat-footer'>
<input type="text" name="msg" id="customermsg" required>
<button  onclick="sentmsg() " class="sendButton"> >  </button>
</div>
</div>

</div>


</body>
</html>
