<!DOCTYPE html>

<html>

<head>
  <title>Chatsystem</title>
  <link rel="stylesheet" href="css/chatbox.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet">
  <script type="text/javascript" src="js/chat-script.js"></script>
  <link rel="stylesheet" href="css/adminAdd.css">
</head>

<body>

<div id="chatbox" class="container" style="display: block;">
<div class ="chat">
<div class="chat-header">
  <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; SEENA &ensp;&ensp; THANA&ensp;&ensp;&ensp; BOT &ensp;&ensp;&ensp;</p>
  </div>

<div class = "chat-box">
    <div id="textbox"></div>
</div>
<div class ='chat-footer'>
<input type="text" name="msg" id="customermsg" required>
<button  onclick="sentmsg() " class="sendButton"> >  </button>
</div>
</div>

</div>


</body>
</html>
