<html>

<%- include('adminHeader') %>

<body class="body bodyLight">
	<%- include('customerNav') %>
	<form class = "addAccForm" action = "/customerPayee" method = "post">
		<h1 class = "head">Customer Payee</h1>
		<div class="form-group row">
			<label for="fullname" class="col-sm-2 col-form-label">Full Name</label>
			<div class="col-sm-10">
				<input class="form-control" name = "name" id="fullname" placeholder="Ex: John Dean">
			</div>
		</div>
		
		<div class="form-group row">
			<label for="accountnumber" class="col-sm-2 col-form-label">Account number</label>
			<div class="col-sm-10">
				<input class="form-control" name = "accNo" id="accountnumber" placeholder="1234567890">
			</div>
		</div>

			<div class="form-group row">
			<label for="accounttype" class="col-sm-2 col-form-label">Account type</label>
			<div class="col-sm-10">
				<select class="form-control" name="acctype" id="accounttype">
								<option value = "savings">Savings</option>
								<option value = "current">Current</option>

							</select>
			</div>
		</div>

		<div class="form-group row">
			<label for="ifsc" class="col-sm-2 col-form-label">IFSC Code</label>
			<div class="col-sm-10">
				<input class="form-control" name = "ifsc" id="ifsc" placeholder = "1OIUG124">
			</div>
		</div>


		<button type="submit" class="btn btn-outline-light">Submit</button>
	</form>
	<script src="js/darkmode.js"></script>
</body>

</html>
