<html>
<%- include('adminHeader') %>

<body class="body bodyLight">

  <div class="addAccForm">

    <h1 class = "head">You have successfully logged out</h1>
  </div>
	<script src="js/darkmode.js"></script>
</body>

</html>
